<style>
  .blank-container {
    display: flex;
    width: 100%;
    min-height: 100%;
  }
  .main-room {
    width: 60%;
  }
  .comment-room {
   width: 40%;
  }
  .avatar {
     margin:0 3%;
     width:3rem;
     height:3rem;
     border-radius: 50%;
   }
</style>

<div class="tab-content blank-container">
  <ul aria-labelledby="megamenu"  style="padding:0.5rem !important;margin: 0;" class="main-room">
    <div class="row profile-header" style="display: flex;margin:0%">
      <div class="comment-top-section">
      <mat-card class="example-card" style="display: block;padding: 0;margin:0%">
        <mat-card-header class="mat-large-header">
          <div class="row">
              <div class="top-row-1 header-top">
                 <img class="avatar mat-elevation-z8"
                  src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
                 />
               <h4 class="h4-responsive">Lorem Ipsum is simply</h4>
              </div>
              <div class="top-row-2 header-body-1">
                <p style="font-size: 1rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                </p>
                <p style="font-size: 1rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                </p>
                <p style="font-size: 1rem;">LoremLorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
              </div>
              <div class="top-row-3 header-body-2">
                <p>Header body two</p>
              </div>
              <div class="top-row-4 header-bottom">
                <p>Header body two</p>
              </div>
            </div>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="comment-bottom-section" style="display: flex;">
      <mat-card class="example-card" style="display: block;padding: 0;margin:0%">
        <mat-card-header class="mat-large-header">
          <div class="row">
              <div class="top-row-1 header-top">
                 <img class="avatar mat-elevation-z8"
                  src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
                 />
               <h6 class="h4-responsive">Lorem Ipsum</h6>
              </div>
              <div class="top-row-2 header-body-1">
                <p style="font-size: 1rem;">LoremLorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
              </div>
            </div>
        </mat-card-header>
      </mat-card>
    </div>
    </div>
  </ul>
  <ul aria-labelledby="megamenu" style="padding: 0 !important;margin:0" class="comment-room">
    <div class="row profile-header" style="display: flex;margin:1%;">
      <div class="comment-top-section">
      <mat-card class="example-card" style="display: block;padding: 0;margin:2%">
        <mat-card-header class="mat-large-header">
          <div class="row">
              <div class="top-row-1 header-top">
                 <img class="avatar mat-elevation-z8"
                  src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
                 />
               <h4 class="h4-responsive">Lorem Ipsum is simply</h4>
              </div>
              <div class="top-row-2 header-body-1">
                <p style="font-size: 1rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                </p>
                <p style="font-size: 1rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                </p>
                <p style="font-size: 1rem;">LoremLorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
              </div>
              <div class="top-row-3 header-body-2">
                <p>Header body two</p>
              </div>
              <div class="top-row-4 header-bottom">
                <p>Header body two</p>
              </div>
            </div>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="comment-bottom-section" style="display: flex;">
      <mat-card class="example-card" style="display: block;padding: 0;margin:2%">
        <mat-card-header class="mat-large-header">
          <div class="row">
            <div style="padding:0">
              <div class="header-text">
                <div class="header-coment-bottom" style="display: flex;">
                  <img class="avatar mat-elevation-z8" style="width:3.5rem;height:3.5rem;" src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"/>
                  <h6 class="h4-responsive">Lorem Ipsum is simply</h6>
                </div>
                <p>Jane Doe</p>
              </div>
              <div class="prfile-bio">
                <p style="font-size: 1rem;">LoremLorem Ipsum is simply dummy text of the printing and typesetting
                </p>
              </div>
            </div>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
    </div>
  </ul>
</div>
