
<style>
  img {
    margin:3% auto 0% auto!important;
  }
  .avatar {
  margin:1% 0%!important;
  width:5rem;
  height:5rem;
  border-radius: 50%;
  }
  .rebuttal-read-more-btn {
    background: #0f123f;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
</style>
<div class="rebuttal-card" style="background-color: #ffff;margin:1% 10% !important">
<mat-card-header class="mat-large-header" style="display: flex;flex-direction: column; box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);border-radius: 0px;">
  <div class="rebuttal-header" style="display: flex;margin:1% 2% !important;">
    <img
    class="avatar mat-elevation-z8"
    src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
  />
  <h4 style="margin:2% 7%">{{title}}</h4>
  </div>
  <div class="rebuttal-body row" style="margin:0%">
        <p style="font-size: 0.9rem;">Jane Doe</p>
        <div class="prfile-bio">
          <p style="font-size: 0.9rem;">
            Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
          </p>
        </div>
        <button class="rebuttal-read-more-btn">Read More</button>
  </div>
</mat-card-header>
</div>
