<style>
  /* TAB CONTENT */
  :host ::ng-deep .media {
    display: flex;
    align-items: flex-start;
    padding: 2%;
    box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
    border-radius: 10px;
  }

  :host ::ng-deep .tagline {
    color: grey;
    font-size: 0.8rem;

  }
  ul li {
  font-size: 1rem;
   line-height: 1.85;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
    outline: 0!important;
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 4%;
    color: #1d2b36;
  }

  /* TAB CONTENT */

  .profile-layout{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    min-height: 35%;
    margin:2% 15%;
  }
  .example-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
    border-radius: 10px;
  }
  .avatar {
     margin:0 10% 0 8%;
     width: 12rem;
     height: 12rem;
     border-radius: 50%;
   }
   .edit-btn{
     background-color: #ffff;
   }
   .prfile-bio {
     margin:4% auto;
   }
   .profile-list ul li{
     list-style: none;
   }

   :host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}
:host ::ng-deep .tab-icon{
 padding: 1rem;
 margin: 1.4rem;
}

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 5% !important;
  margin:2% auto;
  box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
  border-radius: 10px;
}

:host ::ng-deep .mat-tab-header {
  width: 31%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  margin: 0% !important;
  flex-direction: column;
  background-color: #fcfcfc;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #1d2b36;
    background-color: #fcfcfc;
    border-right: 5px solid #09e6bb;
}
/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
    background-color: transparent;
}
:host ::ng-deep .partisan-icon {
  background-image: url('../assets/icons/man.png');
  background-size: cover;
}
:host ::ng-deep .bi-partisan-icon {
  background-image: url('../assets/icons/man\ \(1\).png');
  background-size: cover;
}

:host ::ng-deep .post {
  background-image: url('../assets/icons/post.png');
  background-size: cover;
  padding: 1.1rem;
}
:host ::ng-deep .article {
  background-image: url('../assets/icons/blogging.png');
  background-size: cover;
}
:host ::ng-deep .partisan {
  background-image: url('../assets/icons/gender-diversity.png');
  background-size: cover;
}


 </style>

<!-- /.navbar -->
 <div class="container" class="profile-layout">
   <div class="row profile-header">
   <mat-card class="example-card">
     <mat-card-header>
       <img
         class="avatar mat-elevation-z8"
         src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
       />
       <div class="row">
         <div>
           <div class="header-text">
            <h2 class="h2-responsive">@janedoe</h2>
            <p>Jane Doe</p>
            <button mat-raised-button class="edit-btn">
              Edit Profile
              <mat-icon class="topMenu">edit</mat-icon>
            </button>
           </div>
           <div class="prfile-bio">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
           </div>
         </div>
       </div>
     </mat-card-header>
   </mat-card>
  </div>
  <div class="row profile-body">
     <!-- <div class="profile-list"> -->
      <mat-tab-group animationDuration="0ms" [@.disabled]="true">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon post"></mat-icon>
            Topics
          </ng-template>
          <ng-container class="tab-content">
            <!-- <div class="tab-content-data">
              <h5>Heading</h5>
              <div class="media-body">
                <span class="prod-title">Digital Workplace</span>
                <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
                <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
              </div>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div> -->
            <ul aria-labelledby="megamenu" class="mf-heatmap-target border-0  shade3 show">
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Articles</span>
                      <span class="d-none d-md-block tagline">40% P <mat-icon class="partisan-icon"></mat-icon></span>
                      <span class="d-none d-md-block tagline">60% BP <mat-icon class="bi-partisan-icon"></mat-icon></span>
                    </div>
                </span>
              </li>
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Comments</span>
                      <span class="d-none d-md-block tagline">40% P <mat-icon class="partisan-icon"></mat-icon></span>
                      <span class="d-none d-md-block tagline">60% BP <mat-icon class="bi-partisan-icon"></mat-icon></span>
                    </div>
                </span>
              </li>

            </ul>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon article"></mat-icon>
            Posts
          </ng-template>
          <ng-container class="tab-content">
            <ul aria-labelledby="megamenu" class="mf-heatmap-target border-0  shade3 show">
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Crybtocurrency</span>
                      <span class="d-none d-md-block tagline">40% P <mat-icon class="partisan-icon"></mat-icon></span>
                      <span class="d-none d-md-block tagline">60% BP <mat-icon class="bi-partisan-icon"></mat-icon></span>
                    </div>
                </span>
              </li>
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Immigration</span>
                      <span class="d-none d-md-block tagline">40% P <mat-icon class="partisan-icon"></mat-icon></span>
                      <span class="d-none d-md-block tagline">60% BP <mat-icon class="bi-partisan-icon"></mat-icon></span>
                    </div>
                </span>
              </li>

            </ul>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon partisan"></mat-icon>
            Partisan
          </ng-template>
          <ng-container class="tab-content">
            <ul aria-labelledby="megamenu" class="mf-heatmap-target border-0  shade3 show">
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Partisan</span>
                      <span class="d-none d-md-block tagline">60k Followers<mat-icon class="bi-partisan-icon"></mat-icon></span>
                    </div>
                </span>
              </li>
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Bi-Partisan</span>
                      <span class="d-none d-md-block tagline">40k Followers<mat-icon class="partisan-icon"></mat-icon></span>
                    </div>
                </span>
              </li>
            </ul>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
  </div>
 </div>
