<style>
  /* TAB CONTENT */
  :host ::ng-deep .media {
    display: flex;
    align-items: flex-start;
    padding: 2%;
    box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
    border-radius: 10px;
  }
  :host ::ng-deep .mat-small-header {
    display: none;
  }

  :host ::ng-deep .tagline {
    color: grey;
    font-size: 0.8rem;
    width: fit-content !important;
    margin: 0 !important;
  }


  :host ::ng-deep .btn-read-more{
    background: transparent;
    padding: 10px 20px;
    color: #0f123f;
    border-bottom: 1px solid #0f123f;
    text-decoration: none;
   }
   :host ::ng-deep .btn-read-more:hover{
   background: #0f123f;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
   }
  ul li {
   font-size: 1rem;
   line-height: 1.85;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
    outline: 0!important;
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
    color: #1d2b36;
  }

  /* TAB CONTENT */

  .profile-layout{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    min-height: 35%;
    margin:2% 15%;
  }
  .example-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
    border-radius: 10px;
  }
  .avatar {
     margin:0 7%;
     width: 12rem;
     height: 12rem;
     border-radius: 50%;
   }
   .edit-btn{
     background-color: #ffff;
   }
   .prfile-bio {
     margin:4% auto;
   }
   .profile-list ul li{
     list-style: none;
   }

   :host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}
:host ::ng-deep .tab-icon{
 padding: 1rem;
 margin: 1.4rem;
}

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 5% !important;
  margin:2% auto;
  box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
  border-radius: 10px;
}

:host ::ng-deep .mat-tab-header {
  width: 31%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  margin: 0% !important;
  flex-direction: column;
  background-color: #fcfcfc;
  overflow: hidden;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #1d2b36;
    background-color: #fcfcfc;
    border-right: 5px solid #09e6bb;
}
/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
    background-color: transparent;
}

/*---SWIPE---*/

a {
	 text-decoration: none;
	 color: black;
}
 .container {
	 overflow: hidden;
	 width: 100%;
	 max-width: 650px;
	 margin: 0 auto;
	 padding: 2rem 1rem;
}
 .col {
	 padding: 1rem;
}
 @media (min-width: 650px) {
	 .col {
		 width: 50%;
     margin: 3% 25%;

	}
	 .col:nth-of-type(2n+1) {
		 clear: left;
	}
}
 .card {
	 display: block;
	 text-align: center;
	 color: #eee;
}
 .card .content {
	 padding: 4rem 1rem;
}
 .card .title {
	 font-size: 1.25rem;
	 background-color: gray;
	 border-radius: 3px;
	 padding: 0.5rem;
}

 .card-10:before, .card-10:after {
	 border-radius: 5px;
}
 .card-10:before {
	 background-color: rgba(201, 191, 200, 1) !important;
}
 .card-10 .title, .card-10:after {
	 background-color: rgba(166, 150, 164, 1) !important;
}
 [class*='stacked--'] {
	 position: relative;
	 transition: transform 0.3s ease-in-out;
	 will-change: transform;
}
 [class*='stacked--']:before, [class*='stacked--']:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background-color: currentColor;
	 transition: transform 0.3s ease-in-out;
	 will-change: transform;
}
 [class*='stacked--']:before {
	 z-index: -1;
}
 [class*='stacked--']:after {
	 z-index: -2;
}

 .stacked--down-left:hover {
	 transform: translate(-25px, 25px);
}
 .stacked--down-left:hover:before {
	 transform: translate(25px, -25px);
}
 .stacked--down-left:hover:after {
	 transform: translate(35px, -35px);
}
/* .stack-card {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 2rem;
  border-radius: 10px;
} */
.stack-container {
  margin:10%;
  position: relative;
  width: 600px;
  height: 400px;
  transform-style: preserve-3d;
}
.stack-container > .stack-card {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

@keyframes animate {
  0%
  {
    transform:perspective(500px) translate3d(0,0,0);
  }
  25%
  {
    transform:perspective(500px) translate3d(-50px,-50px,-50px);
  }
  35%,100%
  {
    transform:perspective(500px) translate3d(-600px,-50px,-50px);
  }
}
 </style>

<!-- /.navbar -->
 <div class="container" class="profile-layout">
   <div class="row profile-header">
   <mat-card class="example-card">
     <mat-card-header class="mat-large-header">
       <img
         class="avatar mat-elevation-z8"
         src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
       />
       <div class="row">
         <div style="padding:0">
           <div class="header-text">
            <h2 class="h2-responsive">@janedoe</h2>
            <p>Jane Doe</p>
            <button mat-raised-button class="edit-btn">
              Edit Profile
              <mat-icon class="topMenu">edit</mat-icon>
            </button>
           </div>
           <div class="prfile-bio">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
           </div>
         </div>
       </div>
     </mat-card-header>
     <mat-card-header class="mat-small-header">
      <div class="small-header-top">
        <img
        class="avatar mat-elevation-z8"
        src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
       />
        <div class="header-text">
          <h4 class="h4-responsive">@janedoe</h4>
          <p>Jane Doe</p>
          <button mat-raised-button class="edit-btn">
            Edit Profile
            <mat-icon class="topMenu">edit</mat-icon>
          </button>
         </div>
        </div>
      <div class="row">
        <div style="padding:0">
          <div class="prfile-bio" style="margin:4%">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
          </div>
        </div>
      </div>
    </mat-card-header>
   </mat-card>
  </div>
  <div class="row profile-body">
     <!-- <div class="profile-list"> -->
      <mat-tab-group animationDuration="0ms" [@.disabled]="true">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon post"></mat-icon>
            Articles &nbsp;
          </ng-template>
          <ng-container class="tab-content">
            <ul aria-labelledby="megamenu" style="height:auto;padding: 1.1rem;">
              <li>
                <app-article-card></app-article-card>
              </li>
              <li>
                <app-article-card></app-article-card>
              </li>
            </ul>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon article"></mat-icon>
            Comments
          </ng-template>
          <ng-container class="tab-content">
            <ul aria-labelledby="megamenu" style="padding: 1rem !important;" class="mf-heatmap-target border-0  shade3 show">
              <!-- <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Crybtocurrency</span>
                      <div class="profile-body" style="display: flex;margin: 2%;">
                        <div class="follwers-type" style="min-width: 35%;" >
                          <span class="d-none d-md-block tagline">40% P <mat-icon class="partisan-icon"></mat-icon></span>
                          <span class="d-none d-md-block tagline">60% BP <mat-icon class="bi-partisan-icon"></mat-icon></span>
                        </div>
                        <div class="chart" >
                        <canvas
                          style="width: 220px;height: 110px;"
                          baseChart
                          chartType="doughnut"
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [options]="chartOptions"
                          [legend]="true">
                          </canvas>
                        </div>
                      </div>
                    </div>
                </span>
              </li>
              <li>
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Immigration</span>
                      <div class="profile-body" style="display: flex;margin: 2%;">
                        <div class="follwers-type" style="min-width: 35%;" >
                          <span class="d-none d-md-block tagline">40% P <mat-icon class="partisan-icon"></mat-icon></span>
                          <span class="d-none d-md-block tagline">60% BP <mat-icon class="bi-partisan-icon"></mat-icon></span>
                        </div>
                        <div class="chart" >
                        <canvas
                          style="width: 220px;height: 110px;"
                          baseChart
                          chartType="doughnut"
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [options]="chartOptions"
                          [legend]="true">
                          </canvas>
                        </div>
                      </div>
                    </div>
                </span>
              </li> -->
              <div class="stack-swipe-container">
                <div class="col">
                  <a href="#" class="card card-7 stacked--down-left">
                      <div class="content">
                          <code class="title">Article Card</code>
                      </div>
                  </a>
              </div>
              </div>
            </ul>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon partisan"></mat-icon>
            Rebuttals &nbsp;
          </ng-template>
          <ng-container class="tab-content">
            <ul aria-labelledby="megamenu" style="padding:0% !important;padding: 0 !important;" class="mf-heatmap-target">
              <!-- <li class="stack">
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Partisan</span>
                        <div class="profile-body" style="display: flex;margin: 2%;">
                          <div class="follwers-type" style="min-width: 35%;" >
                            <span class="d-none d-md-block tagline">60k Followers<mat-icon class="bi-partisan-icon"></mat-icon></span>
                          </div>
                          <div class="chart" >
                            <canvas
                            style="width: 220px;height: 110px;"
                            baseChart
                            chartType="doughnut"
                            [data]="[50]"
                            [labels]="['Partisan']"
                            [options]="chartOptions"
                            [legend]="true">
                            </canvas>
                          </div>
                        </div>
                    </div>
                </span>
              </li>
              <li class="stack">
                <span class="media">
                    <div class="media-body">
                      <span class="prod-title">Bi-Partisan</span>
                      <div class="profile-body" style="display: flex;margin: 2%;">
                        <div class="follwers-type" style="min-width: 35%;" >
                          <span class="d-none d-md-block tagline">60k Followers<mat-icon class="bi-partisan-icon"></mat-icon></span>
                        </div>
                        <div class="chart" >
                        <canvas
                          style="width: 220px;height: 110px;"
                          baseChart
                          chartType="doughnut"
                          [data]="[60]"
                          [labels]="['Bi-Partisan']"
                          [options]="chartOptions"
                          [legend]="true">
                          </canvas>
                        </div>
                      </div>
                    </div>
                </span>
              </li> -->
            <div class="stack-container">
              <app-rebuttal-card *ngFor="let rebutal of rebuttalList;let i = index" [attr.data-index]="i"
               class="stack-card card-1" [title]="rebutal.title" [ngStyle]="{'margin-top':rebutal.config.marginsX+'%','margin-bottom':rebutal.config.marginsX+'%',
               'margin-left':rebutal.config.marginsY+'%','margin-right':rebutal.config.marginsY+'%'}"(click) ="swipeStack(rebutal)">
              </app-rebuttal-card>
            </div>
            </ul>
          </ng-container>
        </mat-tab>
      </mat-tab-group>

      <!-- <mat-tab-group>
        <mat-tab label="Tab 1">Tab 1</mat-tab>
        <mat-tab label="Tab 2">Tab 2</mat-tab>
        <mat-tab label="Tab 3">Tab 3</mat-tab>
      </mat-tab-group> -->
  </div>
 </div>

