.example-card {
  width: 26rem;
  // max-width: 20rem;
  height: 12rem;
  margin: 2% auto;
  box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
  border-radius: 9px;
  background-color: #ffff;
  /* background-color: rgb(233, 233, 233); */
}

.example-card:hover {
  box-shadow: 0 20px 20px 0 rgb(147 161 176 / 95%);
  cursor: pointer;

  // h3 {
  //   transition: all 0.3s ease-out;
  //   color: #ffffff;
  // }
}
.outer {
  display: flex;
  flex-direction: column;
}
hr:not([size]) {
  height: 2px;
  margin: 0;
  padding: 0;
}
p {
  margin: 0%;
  padding: 0%;
  font-family: GraphikMedium, Helvetica, sans-serif;
  font-size: larger;
}
.mat-card > :first-child,
.mat-card-content > :first-child {
  margin-top: 64px;
}
