<style>
  .profile-layout{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    min-height: 35%;
    margin:2% 15%;
  }
  .example-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
    /* background-color: rgb(233, 233, 233); */
  }
  .avatar {
     margin:0 10% 0 8%;
     width: 12rem;
     height: 12rem;
     border-radius: 50%;
   }
   .edit-btn{
     background-color: #ffff;
   }
   .prfile-bio {
     margin:4% auto;
   }
   .profile-list ul li{
     list-style: none;
   }

   :host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}
:host ::ng-deep .tab-icon{
 padding: 1rem;
 margin: 1.4rem;
}

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin:2% auto;
  /* background-color: rgb(233, 233, 233); */
  box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
}

:host ::ng-deep .mat-tab-header {
  width: 31%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #1d2b36;
    background-color: #fcfcfc;
    border-right: 5px solid #09e6bb;
}
/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
    background-color: transparent;
    /* margin: auto 2%; */
    /* background-color: lightgray; */
}
:host ::ng-deep .partisan-icon {
  background-image: url('../assets/icons/man.png');
  background-size: cover;
}
:host ::ng-deep .bi-partisan-icon {
  background-image: url('../assets/icons/man\ \(1\).png');
  background-size: cover;
}

:host ::ng-deep .post {
  background-image: url('../assets/icons/post.png');
  background-size: cover;
  padding: 1.1rem;
}
:host ::ng-deep .article {
  background-image: url('../assets/icons/blogging.png');
  background-size: cover;
}
:host ::ng-deep .partisan {
  background-image: url('../assets/icons/gender-diversity.png');
  background-size: cover;
}

/*  NAV BAR */

@media (max-width: 62em) {
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
}
@media (min-width: 768px) {
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
}
@media (max-width: 767px) {
.dropdown:hover .dropdown-menu {
    display: none;
    margin-top: auto;
}
}

 </style>
 <!---NAV BAR-->
 <!-- .navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">dropdown link</a>
          <a class="dropdown-item" href="#">dropdown link</a>
          <a class="dropdown-item" href="#">dropdown link</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- /.navbar -->
 <div class="container" class="profile-layout">
   <div class="row profile-header">
   <mat-card class="example-card">
     <mat-card-header>
       <img
         class="avatar mat-elevation-z8"
         src="https://mdbootstrap.com/images/avatars/img%20(1).jpg"
       />
       <div class="row">
         <div>
           <div class="header-text">
            <h2 class="h2-responsive">@janedoe</h2>
            <p>Jane Doe</p>
            <button mat-raised-button class="edit-btn">
              Edit Profile
              <mat-icon class="topMenu">edit</mat-icon>
            </button>
           </div>
           <div class="prfile-bio">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
           </div>
         </div>
       </div>
     </mat-card-header>
   </mat-card>
  </div>
  <div class="row profile-body">
     <!-- <div class="profile-list"> -->
      <mat-tab-group animationDuration="0ms" [@.disabled]="true">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon post"></mat-icon>
            Topics
          </ng-template>
          <ng-container class="tab-content">
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon article"></mat-icon>
            Article
          </ng-template>
          <ng-container class="tab-content">
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Heading</h5>
              <p>40% P <mat-icon class="partisan-icon"></mat-icon></p>
              <p>60% BP <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon partisan"></mat-icon>
            Partisan
          </ng-template>
          <ng-container class="tab-content">
            <div class="tab-content-data">
              <h5>Partian</h5>
              <p>40k Followers <mat-icon class="partisan-icon"></mat-icon></p>
            </div>
            <div class="tab-content-data">
              <h5>Bi-Partian </h5>
              <p>20k Followers <mat-icon class="bi-partisan-icon"></mat-icon></p>
            </div>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
  </div>
 </div>
