<style>
   :host ::ng-deep .btn-read-more{
    background: transparent;
    padding: 10px 20px;
    color: #0f123f;
    border-bottom: 1px solid #0f123f;
    text-decoration: none;
   }
   :host ::ng-deep .btn-read-more:hover{
   background: #0f123f;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
   }
</style>
<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
    <ul class="details">
      <li class="author"><a href="#">John Doe</a></li>
      <li class="date">Sep 10, 2021</li>
      <li class="tags">
        <ul>
          <li><a href="#">Lorem Lorem ?</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h3>Happy!</h3>
    <p style="margin-bottom: 3.3rem;">Finally, a site for All the people...</p>
    <div  style="margin-bottom:15%;" class="btn-read">
      <a _ngcontent-jkk-c53="" style="margin-bottom: 2.3rem;" class="btn-read-more"> Read More</a>
    </div>

  </div>
</div>
